body,
html,
#root {
    width: 100%;
    height: 100%;
}

#root {
    overflow-y: auto;
}

.login-container {
    width: 100%;
    height: 100%;
    padding: 15% 5px 5px 5px;
    overflow-y: auto;
    background-image: linear-gradient(to top right, #f5f5f5, rgb(107, 183, 255));
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
